<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!--<remove id="Magento_Catalog::catalog"/>-->
        <!--<remove id="Magento_Sales::sales"/>-->
        <!--<remove id="Magento_Backend::marketing"/>-->
        <!--<remove id="Magento_Backend::content"/>-->
        <!--<remove id="Magento_Reports::report"/>-->
    </menu>
</config>
