;
; @CodePage: WIN-1251
; @Title: Вены верхних конечностей
; @Class: Ультразвуковая диагностика
; @Autor: Басов А.В.
; @Org: ЦГКБ
; @Copyright: 2006
; @Language: RU
;


Вены верхних конечностей
    Заголовок <_     Дуплексное сканирование вен верхних конечностей.>
    Шаблон нормы
      Норма <@P>
_     Визуализированные сегменты глубоких и поверхностных вен проходимы с двух сторон, не расширены. Компрессия просветов полная. Кровоток спонтанный, монофазный,
синхронизирован с актом дыхания. При исследовании функции клапанного аппарата недостаточности не выявлено.
///
      Просвет свободен <@P>
_     Визуализированные сегменты глубоких и поверхностных вен проходимы с двух сторон. Компрессия просветов полная.
///
      Справа норма <@P>
_     Справа визуализированные сегменты глубоких и поверхностных вен проходимы, не расширены. Компрессия просветов полная. Кровоток спонтанный, монофазный, синхронизирован с актом дыхания.
При исследовании функции клапанного аппарата недостаточности не выявлено.
///
      Слева норма <@P>
_     Слева визуализированные сегменты глубоких и поверхностных вен проходимы, не расширены. Компрессия просветов полная. Кровоток спонтанный, монофазный, синхронизирован с актом дыхания.
При исследовании функции клапанного аппарата недостаточности не выявлено.
///
      Подкожная клетчатка
        Норма <_  Эхоструктура подкожной жировой клетчатки нижних конечностей не изменена.>
        Отек <_    Подкожная жировая клетчатка  в области голени имеет тяжистую эхоструктуру разделенная гипо-анэхогенными участками линейной формы.>
        Индурация <_    Подкожная жировая клетчатка  в области голени имеет неоднородную крупнозернистую эхоструктуру повышеной эхогенности, дающей дистальную акустическую тень.>
    Варикозная болезнь
      Поверхностные вены
        МПВ <_   Просвет медиальной подкожной вены>
        ЛПВ <_   Просвет латеральной подкожной вены>
        МПВ и ЛПВ <_   Просвет медиальной и латеральной подкожных вен>
      Сторона
        Справа < справа>
        Слева < слева>
        С обеих сторон < с обеих сторон>
      Основной ствол
        не расширен < в визуализируемых участках не расширен,>
        расширен < в визуализируемых участках расширен,>
      Притоки
        нет
        единичные < визуализируются единичные расширенные притоки>
        множественные < визуализируются множественные расширенные притоки>
      Варикозные узлы
        не визуализируются <.>
        визуализируются <, в проекции основного ствола визуализируются варикозно расширенные узлы>
          просвет свободен <.>
          просвет тромбирован < просвет которых заполнен тромботическими массами.>
      Характеристика стенки
        Эхогенность
          не повышена < Эхогенность стенки вен не повышена.>
          повышена < Эхогенность стенки вен повышена,>
        Дифференцировка на слои
          не выражена
          выражена < с выраженной дифференцировкой на слои.>
      Клапанный аппарат
        Норма <_  При проведении модифицированной пробы Вальсальвы недостаточности клапанного аппарата не выявлено.>
        Клапанная недостаточность
          Начальные признаки <_  При проведении>
            остиального клапана <  модифицированной пробы Вальсальвы определяются начальные признаки клапанной недостаточности на уровне остиального клапана>
              МПВ < медиальной подкожной вены>
              ЛПВ < латеральной подкожной вены>
              МПВ и ЛПВ < медиальной и латеральной подкожных вен>
          Умеренно выражена <_  При проведении>
            остиального клапана < модифицированной пробы Вальсальвы определяются признаки умеренно выраженной клапанной недостаточности на уровне остиального клапана>
              МПВ < медиальной подкожной вены>
              ЛПВ < латеральной подкожной вены>
              МПВ и ЛПВ < медиальной и латеральной подкожных вен>
          Тяжелая <_  При проведении>
            остиального клапана < модифицированной пробы Вальсальвы определяются признаки тяжелой клапанной недостаточности на уровне остиального клапана>
              МПВ < медиальной подкожной вены>
              ЛПВ < латеральной подкожной вены>
              МПВ и ЛПВ < медиальной и латеральной подкожных вен>
          сторона
            справа < справа.>
            слева < слева.>
            обе < с двух сторон.>
      Перфоранты
        Визуализация
          не визуализируются < Перфорантные вены не визуализируются.> /R2
          визуализируются
            Кокетта <  Визуализируются перфорантные вены Кокетта> /CR
            Бойда < и Бойда>
            Додда < Додда>
        Сторона
          справа < справа>
          слева < слева>
          обеих < с двух сторон>
        Спонтанный кровоток
          не регистрируется < без четких признаков спонтанного кровотока по ним.>
          регистрируется < по которым определяется спонтанный кровоток>
            в поверхностную систему < в сторону БПВ.>
            в глубокую систему < в сторону ЗБВ.>
      Кровоток
        спонтанный < Кровоток у устья БПВ спонтанный,>
          монофазный < монофазный>
            синхронизирован с актом дыхания <, синхронизирован с актом дыхания.>
            не синхронизирован с актом дыхания <, не синхронизирован с актом дыхания.>
          двухфазный < двухфазный>
            синхронизирован с актом дыхания <, синхронизирован с актом дыхания.>
            не синхронизирован с актом дыхания <, не синхронизирован с актом дыхания.>
    Тромбоз
      Первичная локализация
        Просвет <_   Просвет> /CR
        Подключичная вена < подключичной вены>
        Аксилярная вена < аксилярной вены>
        Плечевая вена < плечевой вены>
        Локтевые вены < локтевых вен>
        Лучевые вены < лучевых вен>
        Медиальная подкожная вена < медиальной подкожной вены>
        Латеральная подкожная вена < латеральной подкожной вены>
      Дополнительный бассейн
        Подключичная вена <, подключичной вены> /CR
        Аксилярная вена <, аксилярной вены> /CR
        Плечевая вена <, плечевой вены> /CR
        Медиальная подкожная вена < МПВ>
        Латеральная подкожная вена < ЛПВ>
        *продолжить
      Сторона
        Справа < справа содержит тромботические массы>
        Слева < слева содержит тромботические массы>
        С обеих сторон < с обеих сторон содержит тромботические массы>
      Эхоструктура
        Гомогенная
          Анэхогенная < однородной эхоструктуры, низкой эхогенности> /R2
          Гипоэхогенная < однородной эхоструктуры, умеренно высокой эхогенности> /R2
          Гиперэхогенная < однородной эхоструктуры, высокой эхогенности> /R2
        Гетерогенная < неоднородной эхоструктуры>
          с преобладанием < с преобладанием>
            гипоэхогенного < гипоэхогенного компонента>
            гиперэхогенного < гиперэхогенного компонента>
      Компрессия
        неполная <, компрессия просвета датчиком в визуализированном участке неполная.>
        отсутствует <, просвет датчиком не компремируется.>
      Верхушка тромба
        Подключичная вена < Верхушка тромба в подключичной вене>
        Аксилярная вена < Верхушка тромба в аксилярной вене>
        Плечевая вена < Верхушка тромба в плечевой вене>
      Флотация
        Нет <, признаков флотации не выявлено.>
        Есть <, определяются признаки флотации.>
      Пути компенсации < По>
        ЛПВ < латеральной подкожной вене кровоток компенсаторно усилен.>
        МПВ < медиальной подкожной вене кровоток компенсаторно усилен.>
        ЛПВ и МПВ < латеральной и медиальной подкожной вене кровоток компенсаторно усилен.>
      Характеристика стенки
        Эхогенность
          не повышена < Эхогенность стенки вен не повышена.>
          повышена < Эхогенность стенки вен повышена>
        Дифференцировка на слои
          не выражена <.>
          выражена <, с выраженной дифференцировкой на слои.>
      Клапанный аппарат
        Норма <_  При проведении модифицированных проб Вальсальвы недостаточности клапанного аппарата не выявлено.>
        Клапанная недостаточность
          Начальные признаки <_  При проведении>
            остиального клапана < модифицированных проб Вальсальвы определяются начальные признаки клапанной недостаточности на уровне остиального клапана>
              МПВ < медиальной подкожной вены>
              ЛПВ < латеральной подкожной вены>
              МПВ и ЛПВ < медиальной и латеральной подкожных вен>
          Умеренно выражена <_  При проведении>
            остиального клапана < модифицированных проб Вальсальвы определяются признаки умеренно выраженной клапанной недостаточности на уровне остиального клапана>
              МПВ < медиальной подкожной вены>
              ЛПВ < латеральной подкожной вены>
              МПВ и ЛПВ < медиальной и латеральной подкожных вен>
          Тяжелая <_  При проведении>
            остиального клапана < модифицированных проб Вальсальвы и проксимальной компрессии определяются признаки тяжелой клапанной недостаточности на уровне остиального клапана>
              МПВ < медиальной подкожной вены>
              ЛПВ < латеральной подкожной вены>
              МПВ и ЛПВ < медиальной и латеральной подкожных вен>
          сторона
            справа < справа.>
            слева < слева.>
            обе < с двух сторон.>
      Перфоранты
        Визуализация
          не визуализируются < Перфорантные вены не визуализируются.> /R2
          визуализируются
            Кокетта < > /CR
            Бойда < >
            Додда < >
        Сторона
          справа < справа>
          слева < слева>
          обеих < с двух сторон>
        Спонтанный кровоток
          не регистрируется < без четких признаков спонтанного кровотока по ним.>
          регистрируется < по которым определяется спонтанный кровоток>
            в поверхностную систему < в сторону ПВ.>
            в глубокую систему < в сторону ГВ.>
      Кровоток в области тромбов
        спонтанный < Кровоток в месте тромбоза>
          не визуализируется < не регистрируется.>
          пристеночный < пристеночный.>
          фрагментарный < регистрируется фрагментарно в виде каналов.>
    Посттромбофлеботическая болезнь
      Глубокие вены
        Просвет <_   Просвет> /CR
        Подключичная вена < подключичной вены>
        Аксилярная вена < аксилярной вены>
        Плечевая вена < плечевой вены>
        Локтевые вены < локтевых вен>
        Лучевые вены < лучевых вен>
        Медиальная подкожная вена < медиальной подкожной вены>
        Латеральная подкожная вена < латеральной подкожной вены>
      Дополнительный бассейн
        Подключичная вена <, подключичной вены> /CR
        Аксилярная вена <, аксилярной вены> /CR
        Плечевая вена <, плечевой вены> /CR
        Медиальная подкожная вена < МПВ>
        Латеральная подкожная вена < ЛПВ>
        *продолжить
      Сторона
        Справа < справа содержит тромботические массы>
        Слева < слева содержит тромботические массы>
        С обеих сторон < с обеих сторон содержит тромботические массы>
      Эхоструктура
        Гомогенная
          Анэхогенная < однородной эхоструктуры, низкой эхогенности> /R2
          Гипоэхогенная < однородной эхоструктуры, умеренно высокой эхогенности> /R2
          Гиперэхогенная < однородной эхоструктуры, высокой эхогенности> /R2
        Гетерогенная < неоднородной эхоструктуры>
          с преобладанием < с преобладанием>
            гипоэхогенного < гипоэхогенного компонента>
            гиперэхогенного < гиперэхогенного компонента>
      Контуры
        ровные <, контуры ровные>
        неровные <, контуры неровные>
      Границы
        четкие   <, границы четкие>
        нечеткие <, границы нечеткие>
      Флотация
        Нет <, признаков флотации не выявлено.>
        Есть <, определяются признаки флотации.>
      Пути компенсации < По>
        ЛПВ < латеральной подкожной вене кровоток компенсаторно усилен.>
        МПВ < медиальной подкожной вене кровоток компенсаторно усилен.>
        ЛПВ и МПВ < латеральной и медиальной подкожной вене кровоток компенсаторно усилен.>
      Компрессия
        полная < в визуализированных участках компрессия датчиком полная, просвет свободен.> /R2
        неполная < в визуализированных участках компрессия просвета датчиком неполная.>
        отсутствует < в визуализированных участках просвет датчиком не компремируется.>
      Клапанный аппарат
        Норма <_  При проведении модифицированных проб Вальсальвы недостаточности клапанного аппарата не выявлено.>
        Клапанная недостаточность
          Начальные признаки <_  При проведении>
            остиального клапана < модифицированных проб Вальсальвы определяются начальные признаки клапанной недостаточности на уровне остиального клапана>
              МПВ < медиальной подкожной вены>
              ЛПВ < латеральной подкожной вены>
              МПВ и ЛПВ < медиальной и латеральной подкожных вен>
          Умеренно выражена <_  При проведении>
            остиального клапана < модифицированных проб Вальсальвы определяются признаки умеренно выраженной клапанной недостаточности на уровне остиального клапана>
              МПВ < медиальной подкожной вены>
              ЛПВ < латеральной подкожной вены>
              МПВ и ЛПВ < медиальной и латеральной подкожных вен>
          Тяжелая <_  При проведении>
            остиального клапана < модифицированных проб Вальсальвы и проксимальной компрессии определяются признаки тяжелой клапанной недостаточности на уровне остиального клапана>
              МПВ < медиальной подкожной вены>
              ЛПВ < латеральной подкожной вены>
              МПВ и ЛПВ < медиальной и латеральной подкожных вен>
          сторона
            справа < справа.>
            слева < слева.>
            обе < с двух сторон.>
      Перфоранты
        Визуализация
          не визуализируются < Перфорантные вены не визуализируются.> /R2
          визуализируются
            Кокетта <  Визуализируются перфорантные вены Кокетта> /CR
            Бойда < и Бойда>
            Додда < Додда>
        Сторона
          справа < справа>
          слева < слева>
          обеих < с двух сторон>
        Спонтанный кровоток
          не регистрируется < без четких признаков спонтанного кровотока по ним.>
          регистрируется < по которым определяется спонтанный кровоток>
            в поверхностную систему < в сторону БПВ.>
            в глубокую систему < в сторону ЗБВ.>
ЗАКЛЮЧЕНИЕ
      ЗАКЛЮЧЕНИЕ <_   ЗАКЛЮЧЕНИЕ:>
      Норма < Эхографических признаков гемодинамически значимых изменений вен верхних конечностей не выявлено.>
      Варикозная болезнь
        Начальные стадии варикоза < Эхографические признаки формирующегося варикозного расширения поверхностных вен верхних конечностей.>
        Варикозное расширение < Эхографические признаки варикозного расширения поверхностных вен верхних конечностей.>
      Тромбоз
        Тромбоза не обнаружено < Объективных признаков тромботического поражения периферических вен верхних конечностей не получено.>
        Тромбоз глубоких вен < Эхографические признаки тромбоза глубоких вен>
          справа < правой верхней конечности.>
          слева < левой верхней конечности.>
          обе < обеих верхних конечностей.>
        Тромбоз поверхностных вен < Эхографические признаки тромбоза поверхностных вен>
          справа < правой верхней конечности.>
          слева < левой верхней конечности.>
          обе < обеих верхних конечностей.>
        Тромбоз глубоких и поверхностных вен < Эхографические признаки тромбоза глубоких и поверхностных вен>
          справа < правой верхней конечности.>
          слева < левой верхней конечности.>
          обе < обеих верхних конечностей.>
      Посттромбофлеботическая болезнь < Эхографические признаки посттромбофлеботической болезни вен>
          справа < правой верхней конечности.>
          слева < левой верхней конечности.>
          обе < обеих верхних конечностей.>
      Отек п/к жировой клетчатки < Эхографические признаки отека подкожной жировой клетчатки.>


Рекомендовано
   Заголовок <_     * РЕКОМЕНДОВАНО: >
   Дополнительные исследования <_       Дополнительные исследования: >
     Лабораторные
       Общий анализ крови <_    Общий анализ крови.> /CR
       Биохимия крови     <_    Биохимический анализ крови.> /CR
       Коагулограмма      <_    Коагулограмма.> /CR
     Инструментальные
       Флебография       <_    Проведение флебографии.> /CR
   Консультация <_    Консультация >
      Вертеброневролога <вертеброневролога.>
      Сосудистого хирурга <cосудистого хирурга.>
      Ортопеда <ортопеда.>
   Повторный осмотр через <_       >
      Через (дни) <Повторный осмотр через ## дн.>
      Через (нед) <Повторный осмотр через # нед.>
      Через (мес) <Повторный осмотр через # мес.>
