textarea.protocol-output {
    width: 100%;
    height: 250px;
}
.breadcrumb {
    font-size: 12px;
}
.breadcrumb > span {
    background-color: #d6e9c6;
    padding: 2px;
    cursor: pointer; cursor: hand;
}
