// Collections
.collection {
  background-color: $collection-bg-color;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  border: 1px solid $collection-border-color;
  border-radius: 2px;

  .collection-item {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0px;
    border-bottom: 1px solid $collection-border-color;
    &:last-child {
      border-bottom: none;
    }

    &.active {
      background-color: $collection-active-bg-color;
      color: $collection-active-color;
    }
  }
  a.collection-item{
    display: block;
    @include transition(.25s);
    color: $secondary-color;
    &:not(.active) {
      &:hover {
        background-color: $collection-hover-bg-color;
      }
    }
  }

  &.with-header {
    .collection-header {
      border-bottom: 1px solid $collection-border-color;
      padding: 10px 20px;
    }
    .collection-item {
      padding-left: 30px;
    }
  }



  //Pagination
  &.pagination {
    display: inline-block;

    ul{
      background-color: transparent;
      font-size: 0;
      display: inline-block;
    }
    li {
      display: inline;
      font-weight: 500;
      margin: 0px;
      padding: 0px;
      font-size: 1rem;

      a {
        padding: 0px 5px;
      }
      &.active {
        background-color: color('light-blue', 'base');
        color: #FFF;
      }
      &:hover {
        background-color: color('light-blue', 'lighten-5');
      }
    }
  }

}
