<div>
    <div style="display:inline-block;">
        <h1>В ожидании</h1>
        <!-- ko foreach: queue -->
            <!-- ko if: ['0','2'].indexOf(customer.status) != -1 -->
                <div class="queue-customer" data-bind="template: {name: 'queue-customer-tpl'}"></div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div style="display:inline-block; vertical-align: top;padding-left: 50px;">
        <h1>На приеме</h1>
        <!-- ko foreach: queue -->
            <!-- ko if: ['1'].indexOf(customer.status) != -1 -->
                <div class="queue-customer" data-bind="template: {name: 'queue-customer-tpl'}"></div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</div>

<script type="text/html" id="queue-customer-tpl">
    <div class="queue-customer-name">
        <a data-bind="attr: {href: customer.url}" target="_blank"><span data-bind="text: customer.name"></span></a>
        <a href="" data-bind="click: $parent.changeStatus.bind($parent)">Change status</a>
        (current is <span data-bind="text: customer.status"></span>)
        <a href="" data-bind="click: $parent.invoice.bind($parent)">Invoice</a>
    </div>
    <div class="queue-schedule">
        <ul data-bind="foreach: events">
            <li class="queue-schedule-item">
                <span data-bind="text: start_at_time" /><sup data-bind="text: minutes + ' min'" /> <span data-bind="text: product_name" /> (<span data-bind="text: lastname + ' ' + firstname" />)
            </li>
        </ul>
    </div>
</script>

<div id="change-status-form" style="display: none;">
    <input type="hidden" id="customer_id">
    <div class="fieldset-wrapper-title">
        <span class="title" data-bind="i18n: 'Change status for'"></span>
        <span class="title customer-name"></span>
        <span class="title">|</span>
        <span class="title" data-bind="i18n: 'current is'"></span> <span class="title customer-status"></span>
    </div>
    <br>
    <div data-bind="foreach: statuses">
        <p>
            <input type="radio" name="status" data-bind="attr: {id: 'status' + status}, value: status"> <label data-bind="attr: {for: 'status' + status}, text: label"></label>
        </p>
    </div>
</div>

<div id="invoice-form" style="display: none;">
    <div class="fieldset-wrapper-title">
        <span class="title" data-bind="i18n: 'Invoice for'"></span>
        <span class="title customer-name"></span>
    </div>
    <br>
    <div data-bind="foreach: customer_dues">
        <div style="margin-bottom: 30px;">
            <h2 data-bind="text: 'Order #' + order.increment_id + ' ' + order.created_at"></h2>
            <div class="items" data-bind="foreach: items">
                <div>
                    <input type="checkbox" data-bind="attr: {id: 'item' + item_id}, value: item_id">
                    <label data-bind="attr: {for: 'item' + item_id}, text: name + ' ' + price"></label>
                </div>
            </div>
        </div>
    </div>
</div>
